

        <div class="carouselbox">
            <div class="mapandtools">
                <div class="maptoolbar">
                  <app-slidenav [slideNav]='slideNav'></app-slidenav>

                    <div class="searchandpos">
                        <places-for-maplinkr class="searchquery"></places-for-maplinkr>
                        <position-view class="posviewwrapper"></position-view>
                    </div>

                </div>
                <app-mapcontent class="mapcontent"></app-mapcontent>

            </div>
        </div>
        <!-- <hiddenmap ></hiddenmap> -->
