

  <ion-card id="{{popoverId}}" *ngIf="popped">
    <ion-card-header>
      <div class="infopop-header">
          <ion-label class="infopop-label-long">
            {{title}}
          </ion-label>
          <ion-label class="infopop-label-short" color="primary">
            {{mrkrlabel}}
          </ion-label>
          <ion-buttons>
          <ion-button (click)="shareClick()" class="infopop-share" fill="outline" size="default">
            <ion-icon name='share-social' color="primary"></ion-icon>
          </ion-button>
          <ion-button (click)="dockPopup()" class="infopop-dock" fill="outline" size="default">
            <ion-icon name="contract-sharp" color="primary"></ion-icon>
          </ion-button>
          <ion-button (click)="closePopup()" class="infopop-close" fill="outline" size="default">
            <ion-icon name="close" color="primary"></ion-icon>
          </ion-button>
          </ion-buttons>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-text>
          {{content}}
        </ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
