infopop {

}

ion-icon {
  font-size: 28px;
}
.infopop-dimensions {
  bottom : auto;
}

.infopop-header {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: minmax(160px, 0.75fr) 24px 24px 24px 24px;
}

.infopop-label-short {
  grid-column: 2;
}

.infopop-label-long {
  grid-column: 1;
}

.infopop-share {
  grid-column: 3;
}
.infopop-dock {
  grid-column: 4;
}
.infopop-close {
  grid-column: 5;
}
