

  <ion-card id="{{popoverId}}" *ngIf="popped">
    <ion-card-header>
      <div class="infopop-header">
          <ion-label class="infopop-label-long">
            {{title}}
          </ion-label>
          <ion-label class="infopop-label-short" color="primary">
            {{mrkrlabel}}
          </ion-label>
          <ion-icon name='share-social' color="primary" (click)="shareClick()" class="infopop-share"></ion-icon>
          <!-- <ion-button (click)="dockPopup()" class="infopop-dock" fill="outline" size="default"> -->
            <ion-icon name="contract-sharp" color="primary" (click)="dockPopup()" class="infopop-dock"></ion-icon>
            <!-- <ion-icon slot="icon-only" name="contract-sharp" color="danger"></ion-icon> -->
          <!-- </ion-button> -->
          <!-- <div (click)="closePopup()" class="infopop-close" fill="outline" size="small"> -->
            <ion-icon name="close" color="primary" (click)="closePopup()" class="infopop-close"></ion-icon>
          <!-- </div> -->
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-text>
          {{content}}
        </ion-text>
      </ion-item>
      <!-- <ion-item>
          <ion-icon name='share-social' (click)="shareClick()"></ion-icon>
      </ion-item> -->
    </ion-card-content>
    <!-- <ion-footer *ngIf="show">
      <ion-buttons slot="start">
        <ion-button color="primary" id="{{shareBtnId}}" (click)="shareClick()">
          <ion-icon slot="icon-only" href='assets/imgs/share-info.png'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-footer> -->
  </ion-card>
