<ion-header>
  <ion-toolbar style="min-height: 20px; height: 50px;">
    <ion-buttons slot="start">
      <button ion-button menuToggle (click)="openMenu('mlmenu')">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="background-color: green">MapLinkr Maps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padzero">

      <app-carousel ></app-carousel>
                <!-- <ol class="MapContainer" [style.height] = "mapcolheight + 'px'" [style.width] = "'100%'"></ol> -->
      <!-- <div #mapcontainer class="mapcontent"> -->
          <!-- <div class="MapContainer"></div> -->
      <!-- </div> -->
      <!-- <hiddenmap></hiddenmap> -->
      <!-- <img id="loadingImg" src="../img/loading.gif" style="position:absolute; right:200px; top:256px; z-index:100;" /> -->

</ion-content>
