<ion-header>
 <ion-toolbar color="light">
   <ion-title>ArcGIS Online Item</ion-title>
   <ion-buttons slot="end">
     <ion-button (click)="cancel()">
       <!-- <span ion-text color="primary" showWhen="ios">Cancel</span> -->
       <ion-icon slot="icon-only" name="close" showWhen="android, windows"></ion-icon>
     </ion-button>
   </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content class="cards-bg social-cards">
   <ion-card id="idAgoItemSetupCard">
     <ion-card-content>
         <form [formGroup]="agoitemgroup" (ngSubmit)="logForm()">
           <h4>Find map items based on search term. Sign-in to search for private groups.</h4>
           <ion-item>
               <ion-label>Item:</ion-label>
               <ion-input #box type="text" formControlName="searchTermItem" (keyup.enter)="checkEnter(box.value)"></ion-input>
           </ion-item>
           <ion-button  (click)="itemFinderSubmit()">Submit Query</ion-button>

           <ion-list *ngIf="detailAccepted==false">
             <ion-item *ngFor="let g of agoItems" (click)="selectAgoItem(g)" tappable>
                 <ion-thumbnail item-left>
                   <img src="{{g.thumbnailUrl}}">
               </ion-thumbnail>
                 <h2>{{g.title+'... '}}</h2>
                 <h2>{{g.snippet}}</h2>
             </ion-item>
           </ion-list>
           <ion-item *ngIf="detailAccepted==true">
             <ion-thumbnail item-left>
               <img src="{{selectedItem.thumbnailUrl}}">
           </ion-thumbnail>
             <h2>{{selectedItem.title+'... '}}</h2>
             <h2>{{selectedItem.snippet}}</h2>
           </ion-item>
           <ion-row>
             <ion-col>
               <ion-button *ngIf="selectedItem!=null" color="primary" (click)="accept()">Accept</ion-button>
             </ion-col>
             <ion-col>
               <ion-button color="secondary" (click)="cancel()">Cancel</ion-button>
             </ion-col>
           </ion-row>
         </form>
       </ion-card-content>
   </ion-card>
 </ion-content>
