

        <ion-input type="text" [value]="positionView" [(ngModel)]="positionView" name="positionView" disabled="disabled" class="pos-view-info posViewVisible postext" ></ion-input>

      <div class="posViewVisible">
         <div class="select-group">
          <!-- <ion-label>Where Am I</ion-label> -->
          <ion-select [(ngModel)]="selectedOption" class="select-choice" interface="popover">
            <ion-select-option value="zm" class="pos-option">zoom level</ion-select-option>
            <ion-select-option value="cntr" class="pos-option">map center</ion-select-option>
            <ion-select-option checked="true" value="coords" class="pos-option">coordinates</ion-select-option>
          </ion-select>
        </div>
      </div>
