.pos-view-info {
  height: 25px;
  font-size: 1.1rem;
  text-align: right;
  margin-right: 0.5em;
  margin-top: 5px;
  padding: 0.01em 0.5em 0.01em 0.5em;
  color: blue;
}

.pos-view-group {
  font-size: 0.5rem;
}

.select-group {
  height: 25px;
  font-size: 1.2rem;
  min-height: 25px;
}

.select-choice {
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2rem;
  width: auto;
}

.pos-option {
  height: 25px;
}
